* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

header {
    background-color: blue;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.container {
    display: flex;
    margin-top: 66px; 
}

.sidebar {  
    background-color: blue;
    color: white;
    width: 220px;
    padding: 25px;
    position: sticky;
    height: 86vh;
}

.sidebar ul {
    list-style: none;
    margin-top: 10px;
}

.sidebar li {
    margin: 12px 0;
    cursor: pointer;
}

.sidebar li:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 1 1 calc(33.33% - 20px);
    min-width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100vh;
        height: auto;
        position: relative;
        top: 0;
    }

    .cards {
        justify-content: center;
    }

    .card {
        flex: 1 1 80%;
    }
}
